.primary{
  background: #bdc3c7;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #2c3e50, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-repeat: no-repeat; 
}
.secondary{
  background: #b1d4a2;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #34502c, #b6c8b6);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #37502c, #b6c8b6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-repeat: no-repeat;
}

.main_container{
  display: flex;
  height: 100%;
  flex-direction: column;
  align-content: center;
  vertical-align: middle;
  overflow: auto;
}

.info_container{
  display: flex;
  height: fit-content;
  align-self: center;
  vertical-align: middle;
}
.input_group{  
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  vertical-align: middle;
  justify-content: center;
  margin-bottom: 24px;
}
.zodiac_sign h5{
  margin: 0;
  width: 200px;
  padding-bottom: 16px;
}
.width{
  width: 180px;
}
.button_group{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 16px;
}
.button_group>button{
  width: 120px;
  margin: 16px;
}
.input_group>div{  
  padding: 16px;
}
.desc_container{
  display: flex;
  flex-wrap: wrap;
  /* flex-direction: column; */
  height: fit-content;
  align-items: center;
  max-width: 700px;
  margin: 0px auto;
}
.hide{
  visibility: hidden;
}
.show{
  visibility:visible;  
}
.days_picker{
  display: flex;
  flex-direction: row;
  justify-content: center;
  min-width: 425px;
}
.days_picker h5{
  width: 200px;
  margin: 24px 0px;
}
